<div class="genre-album-image-big">
    <img ng-src="images/{{ album.image }}"
         ng-if="album.image"
         alt="{{ album.title }} - published in {{ album.year }} by {{ album.band.name }}"
         title="{{ album.title }} - published in {{ album.year }} by {{ album.band.name }}"
         width="175px"
         height="175px"
         class="img-rounded"
    />
</div>
<div>
    <p>{{ ::album.title }}</p>
    <small style="float: left">
        {{ album.band | albumFirmaBis:album.year }}
    </small>
</div>
