<div>
    <ol class="breadcrumb">
        <li><a href="#/bands">Bands</a></li>
        <li class="active">{{ ::band.name }}</li>
    </ol>
</div>
<article class="detalle">

    <div>
        <img ng-src="images/{{ band.albums[band.albums.length-1].image }}"
             ng-if="band.albums[band.albums.length-1].image"
             alt="Last album: {{ band.albums[band.albums.length-1].title }}"
             title="Last album: {{ band.albums[band.albums.length-1].title }}"
             width="450px"
             height="450px"
             class="img-rounded" />
    </div>
    <div>
        <div class="fav-details">
            <band-fav band="band"></band-fav>
        </div>

        <h4><band name="band.name"></band></h4>
        <small>
            {{ ::band.origin }}
        </small>

        <div class="track-list">
            <h5>Members</h5>
            <div>
                <ol>
                    <li ng-repeat="member in band.members">
                        <member
                                member="member">
                        </member>
                    </li>
                </ol>
            </div>
        </div>
        <div>
            <button class="btn btn-info" ng-click="volver()">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <span>Volver</span>
            </button>
        </div>
    </div>
</article>
