<div class="coleccion-table">
    <!-- Pintamos una tabla para mostrar los álbumes -->
    <div class="breadcrumb">
        <a href="#/genres/favourites">See only favourites</a>
    </div>
    <label>Filter: <input ng-model="searchText"></label>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Albums</th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="genre in genres | filter:searchText"
            elemento-genre
            genre="genre"
            on-genre-click="navegar(idGenre)"></tr>
        </tbody>
    </table>
    <!-- Pintamos un control de paginación. Esto es una directiva de Angular UI Bootstrap -->
    <div class="panel panel-default">
        <div class="panel-footer">{{ nItems }} rows</div>
    </div>
    <uib-pagination
            ng-change="paginador.cambioDePagina()"
            ng-model="paginador.paginaActual"
            total-items="paginador.totalElementos"
            items-per-page="paginador.elementosPorPagina"
            boundary-links="true"
            first-text="&lt;&lt;"
            last-text="&gt;&gt;"
            previous-text="&lt;"
            next-text="&gt;">
    </uib-pagination>
</div>