
<div class="book-block-outer">
    <div class="book-block-outer">
        <div class="book-block">
            <div class="book-block-icon-books">
            </div>
            <img src="{{ ::item.data.poster_path | buildImage }}" class="bookimage" alt="{{ ::item.data.original_title }}" title="{{ ::item.data.original_title }}" />
            <div ng-show="isMovie() || isPersistedMovie()" class="book-block-title">
                {{  ::item.data.original_title }}
            </div>
            <div ng-show="isSerie() || isPersistedSerie()" class="book-block-title">
                {{  ::item.data.original_name }}
            </div>
            <div class="book-block-price">
                <item-save item="item" on-item-click="viewDetails(idItem)"></item-save>
            </div>
        </div>
    </div>
</div>
