.genre-album-image-big {

    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.track-list {

    border:solid 0px red;
    float:left;
    width: 600px;
}

.fav-details {
    float:left;
    margin-top: 3px;
}

.breadcrumb {
    margin-top: 10px;
}

.genre-album-image {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
}

table tbody tr:hover {
    background: #f4f4f4;
    cursor: pointer;
}

.col-fav-size {
    width: 50px;
}

.col-fix-size {
    width: 175px;
}

table tbody tr.no-link:hover {
    background: #fff;
    cursor: default;
}

.favorito>div:nth-child(1),
.favorito>div:nth-child(2) {
    display: inline-block;
    width: 40px;
}

.favorito>div:nth-child(1)>div,
.favorito>div:nth-child(2)>div {
    text-align: center;
}

.favorito>div:nth-child(1) i {
    color:dodgerblue;
}

.favorito>div:nth-child(2) i {
    color: orange;
}

.favorito>div:nth-child(1) i:hover,
.favorito>div:nth-child(2) i:hover {
    cursor: pointer;
}

.favorito-oculto {
    display: none;
}

.coleccion-table table,
.mis-items table {
    margin-top: 30px;
}

.coleccion-table table tbody tr:nth-child(1) td,
.mis-items table tbody tr:nth-child(1) td {
    border-top: none;
}

.coleccion-table table tbody tr td:nth-child(2) small,
.mis-items table tbody tr td:nth-child(2) small {
    color: grey;
    border-top: 1px dotted grey;
    padding-top: 2px;
}

.coleccion-table table tbody tr td,
.mis-items table tbody tr td {
    vertical-align: middle;
}
.celda-centrada {
    text-align: center;
}

.barra-navegacion {
    margin-top: 24px;
}

.comentarios,
.comentarios form,
.comentarios ul {
    margin-top: 20px;
}

.comentarios form div input {
    width: 400px !important;
}

.comentarios ul li {
    border-left: none;
    border-right: none;
    vertical-align: middle;
}

.comentarios ul li p,
.comentarios ul li small {
    display: inline-block;
}

.comentarios ul li small {
    color: grey;
}

.detalle {
    margin-top: 20px;
}

.detalle>div {
    display: inline-block;
}

.detalle>div:nth-child(2) {
    margin-left: 20px;
    vertical-align: top;
}

.detalle>div:nth-child(2) small {
    padding-bottom: 16px;
    display: block;
    color: gray;
}

.detalle>div:nth-child(2) div button {
    margin-top: 24px;
}

.nuevo-post {
    margin-top: 20px;
}

.nuevo-post>div {
    display: inline-block;
}

.nuevo-post>div:nth-child(2) {
    margin-left: 20px;
    vertical-align: top;
}

.nuevo-post>div:nth-child(2) div input {
    width: 400px;
}

.nuevo-post>div:nth-child(2) div button {
    margin-top: 24px;
}

.seleccion-imagen {
    width: 250px;
}
.seleccion-imagen .transparencia {
    opacity: 0.5;
}
